*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

main{
    z-index: 0;
}


/* row and column and container */

.row{
    width: 100%;
    display: flex;
}

.col-30{
    width: 30%;
    height: 100px;
    background-color: red;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.col-50{
    width: 50%;
}

.col-100{
    width: 100%;
}

.container-100{
    width: 100%;
}

.container-70{
    width: 70%;
    margin: 0 auto;
}

.container-75{
    width: 75%;
    margin: 0 auto;
}



/* Flex */

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}


/* General */

.ul-menu{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.btn-blue{
    background-color: #0061ff;
    border: 1px solid #0061ff;
    color: #ffffff;
}

.light-blue-background{
    background-color: #b4d0e7;
}