/* ------ HEADER ------ */
/* Top bar */

header{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #b4d0e7;
}

.ul-header{
    font-size: 15px;
}

.ul-header li a{
    padding-right: 15px;
    color: #494747;
}

.logo{
    padding: 0 20px;
}

.menu-header{
    padding-top: 5px;
}

.header-right{
    flex-direction: row-reverse;
}

.btn-header{
    padding: 7px 12px;
    margin: 15px;
    vertical-align: middle;
}


/* ------- MAIN ------ */
/* Jumbotron */

.light-blue-background .container-75{
    margin-bottom: 100px;
}

.txt-jumbo h1{
    font-size: 71px;
    padding: 120px 0 30px;
}

.jumbo-img img{
    width: 100%;
}

.jumbo-content p{
    font-size: 20px;
}

.btn-jumbo-container{
    margin: 30px 0;
}

.btn-jumbo{
    padding: 7px 12px;
}

.col-jumbo{
    position: relative;
}

.arrow-jumbo{
    position: absolute;
    bottom: 20px;
    left: 0;
}

.arrow{
    font-size: 50px;
}


/* 3 prices plans */

.h2-3-plans h2{
    font-size: 45px;
    margin-bottom: 40px;
}

#radio-btn-left{
    padding-right: 40px;
}

.upper-col-3-prices{
    border-bottom: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
    padding: 7px;
}

.name-plan{
    font-size: 18px;
}

.col-plan{
    border: 1px solid #000000;
}

.type-of-plan{
    font-size: 25px;
    padding: 30px 0 20px;
}

.padding-15 ul{
    display: flex;
}

.padding-30 ul{
    display: flex;
}

.padding-15 ul li{
    padding-left: 5px;
}

.padding-30 ul li{
    padding-left: 5px;
}

.padding-30 a{
    color: #0061ff;
    text-decoration: underline;
}
.btn-buy-now{
    text-align: center;
    padding: 30px 0;
}

.btn-col-30{
    padding: 10px 35px;
}

.btn-col-30-small{
    padding: 10px 88px;
}

hr{
    width: 50px;
}

.check-blue{
    color: #0061ff;
}

.description-plan{
    padding: 30px 0 20px;
}


/* Enterprise plan */