/* ------ HEADER ------ */
/* Top bar */

header{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
}

.ul-header{
    font-size: 15px;
}

.ul-header li a{
    padding-right: 15px;
    color: #494747;
}

.logo{
    padding: 0 20px;
}

.menu-header{
    padding-top: 5px;
}

.header-right{
    flex-direction: row-reverse;
}

.btn-header{
    padding: 7px 12px;
    margin: 15px;
    vertical-align: middle;
}


/* ------- MAIN ------ */
/* Jumbotron */

.txt-jumbo h1{
    font-size: 71px;
    padding: 120px 0 30px;
}

.jumbo-img img{
    width: 100%;
}

.jumbo-content p{
    font-size: 20px;
}

.btn-jumbo-container{
    margin: 30px 0;
}

.btn-jumbo{
    padding: 7px 12px;
}

.col-jumbo{
    position: relative;
}

.arrow-jumbo{
    position: absolute;
    bottom: 20px;
    left: 0;
}

.arrow{
    font-size: 50px;
}