/* ------ HEADER ------ */
/* Top bar */

header{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #b4d0e7;
}

.ul-header{
    font-size: 15px;
}

.ul-header li a{
    padding-right: 15px;
    color: #494747;
}

.logo{
    padding: 0 20px;
}

.menu-header{
    padding-top: 5px;
}

.header-right{
    flex-direction: row-reverse;
}

.btn-header{
    padding: 7px 12px;
    margin: 15px;
    vertical-align: middle;
}


/* ------- MAIN ------ */
/* Jumbotron */

.txt-jumbo h1{
    font-size: 71px;
    padding: 120px 0 30px;
}

.jumbo-img img{
    width: 100%;
}

.jumbo-content p{
    font-size: 14px;
}

.btn-jumbo-container{
    margin: 30px 0;
}

.btn-jumbo{
    padding: 7px 12px;
}

.col-jumbo{
    position: relative;
}

.arrow-jumbo{
    position: absolute;
    bottom: 20px;
    left: 0;
}

.arrow{
    font-size: 50px;
}


/* 3 prices plans */

.h2-3-plans h2{
    font-size: 45px;
    margin-bottom: 40px;
}

#radio-btn-left{
    padding-right: 40px;
}

.upper-col-3-prices{
    border-bottom: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
    padding: 7px;
}

.name-plan{
    font-size: 18px;
}

.type-of-plan{
    font-size: 25px;
}

.padding-bottom-15 ul{
    display: flex;
}

.padding-bottom-30 ul{
    display: flex;
}

.padding-bottom-15 ul li{
    padding-left: 5px;
}

.padding-bottom-30 ul li{
    padding-left: 5px;
}

.btn-buy-now{
    text-align: center;
    padding: 30px 0;
}

.btn-col-30{
    padding: 10px 17px;
}

.btn-col-30-small{
    padding: 10px 70px;
}

.check-blue{
    color: #0061ff;
}


/* Enterprise plan */

.up-enterprise-plan{
    border-bottom: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
    padding: 7px;
}

.right-col-enterprise{
    flex-direction: row-reverse;
}


/* Search a partner */

.col-60 img{
    width: 100%;
}

.btn-white-partner{
    padding: 10px;
    border: 1px solid #000000;
    color: #000000;
}


/* 2 row 6 col */

.col-30 img{
    width: 100%;
}


/* Our clients */

/* ------- */

.img-background-1 img, .img-background-2 img, .img-background-3 img, .img-background-4 img, .img-background-5 img, .img-background-6 img, .img-background-7 img, .img-background-8 img{
    width: 100%;
    transform: scale(0.5);
    filter: invert(100%);
}

.img-background-1{
    background-color: #a2d39b;
    border: 10px solid #d1e9cd;
}

.img-background-2{
    background-color: #61082b;
}

.img-background-3{
    background-color: #0093ce;
}

.img-background-4{
    background-color: #ff1c1c;
}

.img-background-5{
    background-color: #d5001f;
}

.img-background-6{
    background-color: #b4d0e7;
}

.img-background-7{
    background-color: #0d2481;
}

.img-background-8{
    background-color: #ffd830;
}

.img-background-big{
    background-color: #f5f5f5;
}

.full-img-table{
    width: 50%;
}

.text-red{
    color: #61082b;
    font-size: 27px;
}

.btn-white-img-table{
    background-color: #ffffff;
    padding: 8px 30px;
}


/* FAQ */

.hr-col-60{
    width: 100%;
}
